progress.zxgxProgress {
	width: 75%;
	height: 10px;
	border: 2px solid;
	border-radius: 15px;
	vertical-align: middle;
	-webkit-appearance: none;
}

progress.zxgxProgress::-webkit-progress-bar {
	background: rgb(239, 239, 239);
	border-radius: 0.2rem;
}

progress.zxgxProgress::-webkit-progress-value {
	border-radius: 0.2rem;
	background: rgb(0,117,255);
}