html{
    color: white;
    text-shadow: black 0 0 2px;
    text-align: center;
    font-size: 40px;
    cursor: default;
    -webkit-user-select:none;
    -webkit-tap-highlight-color:transparent;
}
div{
    position: absolute;
    width: 80%;
    margin: 0;
    padding: 0;
    left: 10%;
    font-family: 'xinwei';
}
a{
    color: white;
    text-shadow: black 0 0 2px;
    cursor: pointer;
}
#button{
    width: 210px;
    border-radius: 8px;
    display: inline-block;
    padding: 5px;
    font-size: 40px;
    line-height: 40px;
    background-image: linear-gradient(rgb(150, 47, 47),rgb(132,43,43));
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.3) 0 3px 10px;
    left: calc(50% - 110px);
    top: calc(50% - 25px);
    cursor: pointer;
}
#button.disabled{
    opacity: 0.5;
    cursor: default;
}

#help{
    bottom:17px;
    left:auto;
    padding: 3px;
    right:17px;
    text-align:right;
    font-size:20px;
    cursor: pointer;
    width: auto;
}
#version{
    top:calc(50% + 35px);
    width:220px;
    left:calc(50% - 110px);
    font-size:16px;
}

#changesite{
    bottom:17px;
    padding: 3px;
    right:auto;
    left:17px;
    text-align:left;
    font-size:20px;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    width: auto;
}
/* #changesite.bluetext{
    text-shadow: black 0 0 1px,rgba(255, 203, 0,1) 0 0 2px,rgba(255, 203, 0,1) 0 0 2px,rgba(255, 203, 0,1) 0 0 2px,
		rgba(255, 203, 0,1) 0 0 2px,black 0 0 1px;
} */
#changesite.editing{
    -webkit-user-select: text;
    cursor: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px, rgba(0, 133, 255, 0.4) 0 0 0 2px, rgba(0, 133, 255, 1) 0 0 8px;
}

#noname_init_help{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    background-color: rgb(60, 60, 60);
    overflow: hidden;
}
#noname_init_help>div:not(#back){
    font-size: 20px;
    height: 100%;
    left: calc(50% - 250px);
    width: 500px;
    top: 0;
    text-align: left;
    display: table;
    line-height: 25px;
    position: absolute;
}
#noname_init_help>div>div{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    left: 0;
}

#back{
    width:60px;
    bottom:20px;
    left:auto;
    right:20px;
    text-align:right;
    font-size:20px;
    cursor: pointer;
}

::-webkit-scrollbar{
    display: none;
}
@font-face {
    font-family: 'xinwei';
    src: url('xinwei.ttf');
}
